@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

 	font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.image-flex {
	width: 100%;
	display: block;
}

.padding {
	padding: 1rem;
}

body {
	margin: 0em;
}

h3 {
	text-align: center;
	padding-top: 1em
}


header {
	background-color: #ccc;
}

nav {
	padding: 0em 1em;
	margin: 0em;
}

nav ol {
	list-style: none;
	padding: 0em;
	margin-bottom: 0em;
}


nav a {
	text-decoration: none;
	color: #0680e5;
	padding: 1em;
	display: block;
	margin: 0em;
}

nav a:hover {
	background-color: #1579db;
	color: white;
}

.headline {
	background-color: #e2e2e2;
	text-align: center;
	padding: 1em;
	margin-bottom: 0em;

}

.headline h2 {
	font-weight: normal;
	margin-bottom: 0em;
}

.headline h1 {
	margin-bottom: 0em;
}

.characteristics {
	background-color: #e2e2e2;
}

footer {
	background-color: #cbcbcb;
}

footer ol {
	list-style: none;
	padding: 0em;
}

footer a {
	text-decoration: none;
	color: #0680e5;
	padding: 1em;
}


@media only screen and (min-width: 25em) {

	ol li {
		display: inline-block;
	}

	nav {
		text-align: center;
	}

}

@media only screen and (min-width: 38em) {

	h3, nav {
		text-align: left;
	}

	h3{
		padding: 1em 1em 0em 1em;
		margin-bottom: 0em;
	}

.headline {
	text-align: center;
}

}
